{
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "modules": true,
    "restParams": true,
    "templateStrings": true
  },
  "rules": {
    "constructor-super": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "prefer-const": 2,

    "valid-jsdoc": [2, {
      "requireReturn": false,
      "prefer": {
        "return": "returns"
      }
    }],

    "quotes": [2, "single", "avoid-escape"],

    "block-scoped-var": 2,
    "complexity": 2,
    "default-case": 2,
    "guard-for-in": 2,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-process-env": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-void": 2,
    "no-warning-comments": 2,
    "radix": 2,
    "vars-on-top": 2,
    "wrap-iife": 2,

    "indent": [2, 2],
    "brace-style": [2, "stroustrup"],
    "comma-style": 2,
    "consistent-this": 2,
    "func-names": 0,
    "func-style": 2,
    "max-nested-callbacks": [1, 3],
    "no-inline-comments": 0,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": 2,
    "no-nested-ternary": 2,
    "no-space-before-semi": 2,
    "no-ternary": 0,
    "one-var": 2,
    "operator-assignment": 2,
    "padded-blocks": 0,
    "quote-props": [2, "as-needed"],
    "sort-vars": 0,
    "space-after-function-name": 2,
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "space-before-function-parentheses": [2, "never"],
    "space-in-brackets": 0,
    "space-in-parens": 2,
    "spaced-line-comment": 2,
    "wrap-regex": 2
  }
}
